<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tofu-stack.tdarr-node.tanjiro</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/tanjiro/containers/tofu-stack/tdarr_node/tdarr_tanjiro/tdarr_node/Tdarr_Node</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/tanjiro/containers/tofu-stack/tdarr_node/tdarr_tanjiro</string>

    <key>StandardOutPath</key>
    <string>/Users/tanjiro/containers/tofu-stack/tdarr_node/tdarr_tanjiro/logs/tdarr_node.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/tanjiro/containers/tofu-stack/tdarr_node/tdarr_tanjiro/logs/tdarr_node_error.log</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
